.notifications {
    position: relative;
    top: 60px;
    left: 0;
    margin: 18px auto;
    font-family: Bahnschrift;
}

.header-title {
    padding: 12px 16px;
}

.notifications mat-list {
    width: 100%;
}

.notification {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: Bahnschrift;
}

.notification .notification-info {
    display: flex;
    justify-content: flex-start;
    gap: 22px;
}
.unread{
    background-color: #efbd6240;
}

.dot {
    height: 7px;
    width: 7px;
    background-color: #3f51b5;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.title {
    font-size: 16px;
}

.date {
    font-size: 12px;
    font-weight: 200;
}

.highlighted {
    font-weight: bold;
}

.list-item {
    border-bottom: 1px solid #E0DEDE;
    cursor: pointer;
}

.read .date, .new .date {
    color: #B3AFAF;
}

.read .info {
    color: #C2BFBF;
}

.rejected .info {
    color: #CB8686;
}

.rejected .title {
    color: #5E1C1C;
}

.rejected .date {
    color: #C47F7F;
}

.accepted .info {
    color: #8bb69d;
}

.accepted .date {
    color: #8cb89f;
}

.accepted .title {
    color: #0a381e;
}

.accepted {
    background-color: #bdebd2;
}

.rejected {
    background-color: #FCBDBD;
}

.notifications-details-actions {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 18px 0;
}
.singleLine {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    white-space: nowrap;

}