#drawingCanvas {
  position: relative;
  left: 130px;
}

::-webkit-scrollbar-thumb:horizontal {
  position: absolute;
  left: 80px;
  height: 5px;
}

/* Title field */
.sidebarTitle {
  color: #3C98CF;
  font-weight: 800;
  padding-right: 32px ;
  text-align: center;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}

.sidebar {
  width: 130px;
  height: 92vh;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 20px 0 10px 32px;
  position: fixed;
  z-index: 1000;
  overflow: scroll;
}

.sideTools {
  display: flex;
  margin-top: 16px;
  flex-wrap: wrap;
}

.sideTools a.item {
  flex: .4;
  margin: 0 4px 4px;
  padding: 4px;
  text-align: center;
  width: 100px; 
  max-width: 100px;
  opacity: .8;
  cursor: pointer;
}

.sideTools a.item:hover div {
  box-shadow: none;
  border: 2px solid #2e8fc7;
}

.sideTools a.item:hover{
  opacity: 1;
}

.sideTools a.item > div svg {
  width: 80%;
  height: 80%;
}

.sideTools a.item > div {
  border: 2px solid #fff;
  background-image: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideTools a.item small {
  display: block;
  margin-top: 4px;
  text-align: center;
}

#drawingCanvas img::selection {
  background: transparent;
}

#modelingViewSidenav {
  position: fixed;
  margin-top: 50px;
  width: 500px;
}

#modelViewContent {
  position: relative;
  width: 100vw;
  height: calc(100vh - 3em);
  /* left: 0; */
  /* left: 17px;  */
  /* don't know where the -17px comes from, but I need this 17px to offset it. Setting HTML body style='overflow: hidden' removes this. */
  overflow: scroll;
}

#modelingViewSidenavContainer {
  position: relative;
  top: 50px;
  /* bottom: 0; */
  left: 0;
  /* right: 0; */
  float: right;
} 

.micro-container,
.control-unit-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.control-unit-container > div,
.micro-container > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.micro-text,
.control-unit-text {
  font-family: Bahnschrift;
  text-align: center;
  white-space: wrap;
  text-overflow: ellipsis ;
  overflow: hidden ;
  width: 90px;
  position: absolute;
  height: 16px;
  font-size: 14px;
  top: -22px;
  left: 5px;
  pointer-events: none;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  font-weight: 500;
  text-shadow: 1px 1px 1px white;
  padding: 0;
}

.micro-container.longTitle .micro-text,
.control-unit-container.longTitle .control-unit-text
{
  font-size: 12px;
  height: 30px !important;
  top: -34px;
}

.boundary-container {
  position: absolute;
  margin-top: 5px;
}

.boundary-container p {
  text-align: center;
  width: 90%;
  padding: 0px 10px;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: gray;
}

.boundaryStartTerminal,
.boundaryEndTerminal {
  display: none;
}

 .animationIMGContainer1 {
  position: absolute;
  top: 5px;
  left: 4px;
}

.animationIMGContainer2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
}

.animationIMGContainerSphere1 {
  background: red;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  opacity: 0.7;
}

.animationIMGContainerSphere2 {
  background: lightpink;
  border-radius: 50%;
  height: 120%;
  width: 120%;
  animation: pulsate 2.5s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.0;
  left: auto;
  top: auto;
  margin: auto;
  position: absolute;
}

.animationCommLineContainer1 {
  position: absolute;
}

.animationCommLineContainer2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}

.animationCommLineContainerSphere1 {
  display: flex;
  background: red;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  opacity: 0.7;
}

.animationCommLineContainerSphere2 {
  background: lightpink;
  border-radius: 25%;
  height: 110%;
  width: 110%;
  animation: pulsate 2.5s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.0;
  z-index: -1;
  left: auto;
  top: auto;
  margin: auto;
  position: absolute;
}

.lineAnimation,
.polylineAnimation {
  animation-duration: 1.5s;
  animation-name: radiating;
  animation-iteration-count: infinite;
  stroke: lightpink;
} 

.lineStartTerminal, .lineEndTerminal {
  cursor: pointer;  
}
.lineStartTerminal:hover,
.lineEndTerminal:hover {
  width: 16px;
  height: 16px;
}

@keyframes radiating {
  0% {
    stroke-width: 20;
    opacity: 0.9;
  }

  25% {
    stroke-width: 25;
    opacity: 0.7;
  }

  50% {
    stroke-width: 30;
    opacity: 0.7;
  }

  75% {
    stroke-width: 35;
    opacity: 0.7;
  }

  100% {
    stroke-width: 40;
    opacity: 0.7;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0.0;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0.0;
  }
}

.commLineProtocolText, .module-text {
  font-family: Bahnschrift;
  font-size: 14px;
  width: 50px;
  cursor: grab;
  z-index: 100;
} 
