#logo {
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  margin-top:7px;
  margin-left:-10px;
}

.navBarMenu {
  height: 50px;
  padding-left: 0px;
}

.navBarMenu span {
  float: left;
  width: 10%;
  text-align: start;
  padding-left: 32px;
  font-weight: bold;
}

.navBarMenu button {
  margin: 15px;
}

.fill-space {
  flex: 1 1 auto;
}

.notificaitonBtnIcon {
  transform: scale(1.5);
}

.accountBtnIcon {
  transform: scale(1.5);
}

.helpBtnIcon{
  transform: scale(1.5);
  color: #fff;
}

.nothing-found {
  margin: 10px 9px 12px;
  font-family: Bahnschrift;
  font-size: 14px;
}

.notifications {
  display: flex;
  flex-direction: column;
  overflow: hidden !important;
  width: 280px;
  padding: 0 0 4px 5px;
  max-height: 80vh;
  font-family: Bahnschrift;
}

.close-notification {
  cursor: pointer;
  user-select: none;
  margin-left: 97px;
}

.title {
  font-size: 14px;
  font-weight: bold;
}

.date {
  font-size: 11px;
  font-weight: 200;
  color: #a0a0a0;
}

.dot {
  height: 7px;
  width: 7px;
  background-color: #3f51b5;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}

.notification-header {
  display: flow-root;
  align-items: center;
  justify-content: space-between;
  margin: 12px 7px;
}

.notification-container {
  display: flex;
  flex-direction: column;
  max-height: 50vh;
  overflow-y: scroll;
}

.tabs-main{
  border-bottom: 1px solid #c1c1c1;
  color: #898282;
  font-size: 14px;
  text-align: center;
  display: flex;
}
.tab-left{
  display: flex;
  float: left;
  padding: 2% 5%;
  cursor: pointer;
}

.tab-right{
  display: flex;
  padding: 2% 5%;
  cursor: pointer;
}

.tab-active{
  border-bottom: 2px solid #2976d7!important;
}

.notification-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 12px 0;
  padding: 0 7px;
  cursor: pointer;
}

.click-details,
.message {
  font-size: 13px;
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* .vulnerabilityBell {
    margin-top: -10px;
    margin-left: -2px;
    background: red;
    color: #fff;
    font-weight: bold;
    padding: 8px;
    border-radius: 50%;
    height: 4px;
    width: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 5px;
    font-size: 12px;
} */

.notification-actions {
  display: flex;
  margin: 12px 0;
  justify-content: center;
}

.content-header {
  display: flex;
  justify-content: space-between;
  justify-items: baseline;
  align-items: baseline;
}

.form-group {
  padding-bottom: 10px;
  width: 100%;
}

.btn {
  width: 100%;
}

.whiteText {
  color: white;
}

::ng-deep.mat-menu-panel {
  max-width: none !important;
}

/* ::ng-deep.cdk-overlay-pane {
  max-width: 20%;
} */


.itemsNavList .active {
  opacity: 1 !important;
}

.itemsNavList .not-active {
  opacity: .7 ;
}

.quickAccessBtnHorizontalMargin{
    margin-left: 0px !important; 
    margin-right: 0px !important;
}

.disabledList.mat-list-item-disabled{
    color:rgba(0, 0, 0, 0.38);
    background-color:unset;
}