<form [formGroup]="updatePasswordForm" (ngSubmit)="changePassword()">

    <mat-form-field class="form-group">
      <mat-label for="oldPassword">Old Password</mat-label>
      <input matInput formControlName="oldPassword" type="password">
      <mat-error *ngIf="oldPassword.touched && oldPassword.errors">
        Old Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label for="newPassword">New Password</mat-label>
      <input matInput formControlName="newPassword" type="password">
      <mat-error *ngIf="newPassword.touched && newPassword.errors">
        New Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label for="cnewPassword">Confirm Password</mat-label>
      <input matInput formControlName="cnewPassword" type="password">
      <div *ngIf="cnewPassword.touched">
        <mat-error *ngIf="updatePasswordForm.get('cnewPassword').value != updatePasswordForm.get('newPassword').value">
          Passwords must <strong>match</strong>
        </mat-error>
      </div>
    </mat-form-field>

    <button type="button" class="btn" mat-raised-button (click)="changePassword()" color="primary" [disabled]="!updatePasswordForm.valid || (updatePasswordForm.get('cnewPassword').value != updatePasswordForm.get('newPassword').value)">Change Password</button>

</form>
