.cybersecurity-goal-container {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 7px;
    font-family: Bahnschrift;
}

.cybersecurity-goal-list {
    height: 155px !important;
    overflow: auto;
}

.cybersecurity-goal-list table {
    width: 100%;
}

.cybersecurity-goal-list table tr.mat-row {
    height: 30px;
}

.cybersecurity-goal-actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: -10px;
}

.cybersecurity-goal-row {
    cursor: grab;
}

.mat-column-serial {
    width: 20% !important;
}

.mat-column-goal {
    width: 80% !important;
}
