.restore-threats-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.restore-threats-close {
    cursor: pointer;
}

.restore-threats-loader {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restore-threats-table {
    width: 100%;
}

.restore-threats-empty {
    width: 100%;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restore-threats-actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.mat-column-selection {
    width: 10%;
}

.mat-column-rowNumber {
    width: 10%;
}

.mat-column-asset {
    width: 30%;
}

.mat-column-attackPathName {
    width: 50%;
}
