.controlBeforeConfirmation {
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.controlBeforeSpace {
    flex: 1;
}

.controlBeforeText {
    margin: 12px 0 0;
}

.controlBeforeConfirmation span {
    cursor: pointer;
}
