.mitreAttackContainer {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  background: #e9e58e;
  position: fixed;
  overflow: hidden;
  z-index: 1000;
}

.mitreAttackHeader {
  padding: 5px 0;
  margin: 0 auto;
  width: 50px;
  height: 20px;
  user-select: none;
}

.mitreAttackHeader mat-icon {
  cursor: pointer;
  padding: 0 22px;
  text-align: end;
}

.mitreAttackContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  gap: 8px;
}

.mitreAttackBottomPanelType {
  width: 100%;
  display: flex;
  min-height: 15vh;
  gap: 6px;
}

.mitreAttackBeforeControl {
  width: 50%;
  /* border: 1px solid grey; */
  background-color: #ffffff;
  padding: 10px 0 0 0;
}

.mitreAttackAfterControl {
  width: 50%;
  /* border: 1px solid grey; */
  background-color: #ffffff;
  padding: 10px 0 0 0;
}

.mitreAttackControlTable {
  width: 100%;
  border-collapse: collapse;
  margin: 6px 0 0;
  padding: 0;
  font-size: 14px;
}

.mitreAttackBottomPanelType {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mitreAttackBottomPanelType .threatControlLabel {
  font-weight: 500;
}

.mitreAttackControlTable tr.mitreControlThreatContainer {
  cursor: move;
  max-height: 5em;
}

.mitreAttackControlTable tr th {
  text-align: center;
  font-size: 0.8rem;
  border: 1px solid #dddddd;
  color: rgba(0, 0, 0, 0.87);
  padding: 8px 5px;
}

.mitreAttackControlTable tr td {
  border: 1px solid #dddddd;
  height: 5em;
  padding: 0 5px;
}

.mitreAttackControlTable tr th:last-child,
.mitreAttackControlTable tr td:last-child {
  border-right: none !important;
}

.mitreAttackControlTable tr th:first-child,
.mitreAttackControlTable tr td:first-child {
  border-left: none !important;
}

.threatList {
  min-height: 20vh;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.tacticsTable {
  width: 100%;
  background: #ffffff;
  border-collapse: collapse;
  overflow: hidden;
}

.tacticsTable tr th {
  width: 7.14%;
  text-align: center;
  font-size: 0.8rem;
  border: 1px solid #dddddd;
  color: rgba(0, 0, 0, 0.87);
  padding: 8px 0;
}

.tacticsTable tr td {
  border: 1px solid #dddddd;
  min-width: 5em;
  overflow: auto;
}

.tacticsTable tr ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 3px;
  overflow: auto;
  min-height: 12vh;
  max-height: 12vh;
  max-width: 15em;
  min-width: 3em;
}

.tacticThreat {
  padding: 3px 0;
  font-size: 0.8rem;
  background: lightgray;
  list-style: none;
  display: block;
  cursor: move;
}

.editTacticThreat {
  background: lightpink;
}

::ng-deep .cdk-global-scrollblock {
  position: static !important;
  width: initial !important;
  overflow-y: inherit !important;
}

.mitreAttackBottomPanel {
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 12px;
  margin: 0 0 0 10px;
}

.mitreAttackDiabled {
  color: darkgray;
}

.mitreAttackActions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: flex-end; */
  align-content: center;
  align-items: center;
  /* margin-top: 6px; */
}

.mitreAttackActionsGap {
  flex: 1;
}

.buttoncolor {
  background-color: lightgray;
  margin-right: 10px;
}

.tactic:last-child {
  border-right: none;
}

.tacticThreatPlaceholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.asset-dragged {
  padding: 5px 6px;
  font-size: 0.7rem;
}
.name-timeperiod {
  font-size: 0.7rem;
  height: auto;
  margin: 8px 0;
}
.preview-style {
  background-color: lightgray;
  height: 100px;
  width: 100px;
  padding: 5px 5px;
  font-size: 0.7rem;
}
