.wp29-threats-header {
    display: flex;
    justify-content: flex-end;
}

.wp29-threats-header mat-icon {
    cursor: pointer;
}

.wp29-threats-steps {
    margin: 12px 0;
}

.wp29-threats-actions {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
    margin: 24px 0;
}

.wp29-abort-operation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wp29-threats-title-gap {
    margin: 12px 0 0;
}