<div class="notification-container">
    <div class="notification-item">
        <div class="notification-content">
            <div class="content-header">
                <p class="title">Risk Number Updated<span class="dot"></span></p>
                <span class="date">Today, 3:55PM</span>
            </div>
            <p class="message">Traffic bandwidth risk number updated, threat lists impacted</p>
            <p class="click-details">Click to see more details</p>
        </div>
        <mat-divider></mat-divider>
    </div>
    <div class="notification-item">
        <div class="notification-content">
            <div class="content-header">
                <p class="title">Risk Number Updated<span class="dot"></span></p>
                <span class="date">Today, 3:55PM</span>
            </div>
            <p class="message">Curabitur nisi. Sed fringilla mauris sit amet nibh. Aenean tellus metus, bibendum
                sed, posuere ac, mattis non, nunc. Pellentesque habitant morbi tristique senectus et netus et
                malesuada fames ac turpis egestas.</p>
            <p class="click-details">Click to see more details</p>
        </div>
        <mat-divider></mat-divider>
    </div>
    <div class="notification-item">
        <div class="notification-content">
            <div class="content-header">
                <p class="title">Risk Number Updated<span class="dot"></span></p>
                <span class="date">Today, 3:55PM</span>
            </div>
            <p class="message">Etiam feugiat lorem non metus. Aenean posuere, tortor sed cursus feugiat, nunc
                augue blandit nunc, eu sollicitudin urna dolor sagittis lacus.</p>
            <p class="click-details">Click to see more details</p>
        </div>
        <mat-divider></mat-divider>
    </div>
    <div class="notification-item">
        <div class="notification-content">
            <div class="content-header">
                <p class="title">Risk Number Updated<span class="dot"></span></p>
                <span class="date">Today, 3:55PM</span>
            </div>
            <p class="message">Vivamus laoreet. Curabitur at lacus ac velit ornare lobortis.</p>
            <p class="click-details">Click to see more details</p>
        </div>
        <mat-divider></mat-divider>
    </div>
    <div class="notification-item">
        <div class="notification-content">
            <div class="content-header">
                <p class="title">Risk Number Updated<span class="dot"></span></p>
                <span class="date">Today, 3:55PM</span>
            </div>
            <p class="message">Pellentesque egestas, neque sit amet convallis pulvinar, justo nulla eleifend
                augue, ac auctor orci leo non est. Donec quam felis, ultricies nec, pellentesque eu, pretium
                quis, sem.</p>
            <p class="click-details">Click to see more details</p>
        </div>
        <mat-divider></mat-divider>
    </div>
</div>
<div class="notification-actions">
    <button mat-raised-button>See All</button>
</div>