::ng-deep .mat-dialog-container {
    overflow-y: hidden;
}

.no-threat-history-found {
    margin: 16px 0;
}

.threat-history-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0 50px;
    max-height: 50vh;
    overflow-y: auto;
}

.threat-history-loader {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.threat-history-header {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.threat-history-container .mat-header-cell {
    padding-left: 8px;
    padding-right: 0;
    font-size: 14px;
    min-height: 48px;
}

.threat-history-container .mat-cell {
    font-size: 14px;
    min-height: 48px;
    padding: 5px 5px 5px 8px;
}

.threat-history-container table {
    padding: 0;
    width: 100%;
    overflow-y: scroll !important;
}

.threat-history-container .mat-column-asset {
    width: 15%;
}

.threat-history-container .mat-column-securityPropertyCia {
    width: 7%;
}

.threat-history-container .mat-column-threatScenario {
    width: 21%;
}

.threat-history-container .mat-column-attackPath {
    width: 25%;
}

.milestone-heading {
    color: #626262;
    font-size: 12px;
}

.threat-history-container .mat-column-damageScenario {
    width: 22%;
}

.threat-history-container .mat-column-impact {
    width: 10%;
    text-align: center;
}

.threat-history-load-more {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}