/* Styles for form */
.dashboard-form-content {
  float: left;
}

/* Styles for navbar */
 .dashboard-sidenav {
  width: 12%;
  background-color: #fff !important;
  height: calc(100vh - 105px);
  padding: 70px 8px 8px 16px;
  position: fixed;
  bottom: 0;
  min-height: calc(100vh);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.dashboard-navlist-content {
  width: 100%;
}

.dashboard-cards-layout {
    margin-top: 75px;
}

/* Styles for the active tab label */
.dashboard-list-item {
  color: #707070;
  opacity: 0.7;
  cursor: pointer;
}

.dashboard-list-item span {
  padding-left: 12px;
}

.dashboard-list-item.selected {
  background-color: #3C98CF;
  border-radius: 4px;
  color: #fff;
  opacity: 1;
}



/* Styles for dashboard */
.main-content {
    padding:20px;
}
.dashboard-container {
  background-color: #fafafa;
  margin-top: 50px;
}

.dashboard-title {
  text-align: center;
  margin-top: 20px;
}

/* Styles for card */
.dashboard-card {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.dashboard-card-content {
  text-align: center !important;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  width: 100%;
  justify-content: center !important;
  align-items: stretch;
}

/* Styles for arrows */
.dashboard-grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.chart-arrow-left {
  grid-column: span 6;
  text-align: left;
}
.chart-arrow-left span {
  margin-left: 20%;
}
.chart-arrow-right {
  grid-column: span 6;
  text-align: right;
}
.chart-span {
  grid-column: span 12;
  text-align: center;
}

/* Styles for text */
.dashboard-text {
  text-align: center;
  font-weight: 600px;
  color:#f98905 !important;
  border-bottom: 1px solid #f98905;
  padding-bottom: 17px;
}









