.tacticTechniqueHeader {
    display: flex;
    justify-content: baseline;
}

.techniqueHeaderGap {
    flex: 1;
}

.tacticTechniqueHeader mat-icon {
    cursor: pointer;
}

.techniques {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
